    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="A software development blog highlighting my personal struggles and how I overcame them.  Aiming to build a comprehensive library of helpful material to refer back to covering WordPress, WooCommerce, Git and more">
    <meta property="og:description" content="A software development blog highlighting my personal struggles and how I overcame them.  Aiming to build a comprehensive library of helpful material to refer back to covering WordPress, WooCommerce, Git and more" />
    {% endif %}
    <meta name="author" content="Coder Joey" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}