.icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-size: contain;

  &.email {
    background-image: url(https://raw.githubusercontent.com/coder-joey/coder-joey.github.io/master/images/mail.png);
    border: 4px solid #61acd2;
    border-radius: 50%;
    padding: 10px;
    height: 89px;
    display: inline-block;
    width: 90px;
    background-color: #f4a026;
  }
  &.back {
    background-image: url(https://raw.githubusercontent.com/coder-joey/coder-joey.github.io/master/images/back.png);
  }
}