.icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-size: contain;

  &.email {
    background-image: url(https://raw.githubusercontent.com/coder-joey/coder-joey.github.io/master/images/mail.png);
  }
  &.back {
    background-image: url(https://raw.githubusercontent.com/coder-joey/coder-joey.github.io/master/images/back.png);
  }
}