.icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-size: cover;

  &.email {
    background-image: url(https://raw.githubusercontent.com/coder-joey/coder-joey.github.io/master/images/mail.png);
  }
  &.back {
    background-image: url(https://raw.githubusercontent.com/coder-joey/coder-joey.github.io/master/images/back.png);
  }
  &:hover, &:active {
    opacity: 0.6;
  }
}